{% load static lazy crispy_forms_tags bootstrap_modal %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    {% lazy_import %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/stimulus@2.0.0/dist/stimulus.umd.js"></script>

        <script src="{% static 'js/application.js' %}" type="module"></script>
</head>
<body>
<div data-controller="modalform">
    <a type="button" class="btn btn-primary" data-submission-target="button"
       data-action="click->modalform#showForm" data-url="/new/">Create New Entry</a>
    <ul>
        {% for entity in entities %}
            <li>
                <div>
                    <a type="button" class="btn btn-primary" data-submission-target="button"
                            data-action="click->modalform#showForm"
                            data-url="/update/{{ entity.id }}"
                    >Edit {{ entity.name }}</a>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% modal modal_id="exampleModal" dataController="modal" dataModalformTarget="modal" turbo="edit_entry" %}
    {% endmodal %}

</div>
</body>
</html>